[submodule "dicionariolatino.com"]
	path = dicionariolatino.com
	url = https://github.com/haller33/dicionariolatino.com
[submodule "latin_to_narsese"]
	path = latin_to_narsese
	url = https://github.com/haller33/latin_to_narsese
[submodule "RealtimeGraphVisualizer"]
	path = RealtimeGraphVisualizer
	url = https://github.com/haller33/RealtimeGraphVisualizer
[submodule "morpheus-perseids"]
	path = morpheus-perseids
	url = https://github.com/haller33/morpheus-perseids
